<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thegardenofeat'n.com</title>

    <!--
        - custom css link
    -->
    <link rel="stylesheet" href="/CSS/index.css">

    <!--
        - fontawesome link
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--
        - preload images
    -->

    <%- include("./preloadImages.home.ejs") %>

</head>

<body>
    <!--
        - PRELOAD
    -->
    <div class="preload" data-preload>
        <div class="circle"></div>
        <p class="text">TheGardenOfEat'n</p>
    </div>

    <!--
        HEADER
    -->

    <%- include("./header.home.ejs") %>


    <!--
        MENU SECTION
    -->

    <section class="menu" data-menu>

        <button class="show-menu" data-show-menu>
            <i class="fa-solid fa-utensils"></i>menu
        </button>

        <button class="close-menu hide" data-close-menu>
            <i class="fa-solid fa-xmark"></i>close
        </button>

        <div class="menu-wrapper hide" data-menu-wrapper>
            <% for (let eachCategory of menu) { %>

                <div class="menu-category-wrapper">

                    <a href="#<%= eachCategory.content.url %>" class="category-head">
                        <%= eachCategory.category %>
                    </a>

                    <% for (let item of eachCategory.content.items) { %>

                        <div class="category-items">
                            <i class="fa-solid fa-stop"></i>
                            <a href="#<%= eachCategory.content.url %>">
                                <%= item %>
                            </a>
                        </div>

                        <%}%>
                </div>
                <%}%>
        </div>

    </section>


    <!--
        CAROUSEL
    -->

    <section class="carousel">
        <h3>eat what makes you happy</h3>

        <div class="carousel-wrapper" data-carousel>

            <button data-prev-slide id="prev" class="slide-button prev hide">
                <i class="fa-solid fa-chevron-left"></i>
            </button>

            <button data-next-slide id="next" class="slide-button next">
                <i class="fa-solid fa-chevron-right"></i>
            </button>

            <div class="items-list">

                <% for (let item of carouselList) { %>

                    <div class="<%=item.class%>">
                        <img class="items-img" src="/BackgroundImages/<%=item.src%>" alt="">
                        <p>
                            <%=item.name%>
                        </p>
                    </div>

                    <% } %>

            </div>

        </div>
    </section>


    <!--
        OUR MENU
    -->

    <section class="food-container">

        <h2>our menu</h2>

        <% for (let eachCategory of menu) {%>
            <div id="<%= eachCategory.content.url %>">
                <h3 class="category-name">
                    <i class="fa-solid fa-chevron-right"></i>
                    <%= eachCategory.category %>
                </h3>

                <div class="food-wrapper">
                    <% for (let item of eachCategory.content.items) { %>

                        <div>
                            <figure class="item-img-container">
                                <img src="BackgroundImages/coffee.png" alt="">
                            </figure>

                            <p class="name">
                                <%= item %>
                            </p>
                            <p class="price"><i class="fa-solid fa-indian-rupee-sign"></i>20.000</p>

                            <button>Add to cart</button>
                        </div>

                        <%}%>
                </div>
            </div>
            <%}%>

    </section>


    <!--
        FOOTER
    -->

    <%- include("./footer.ejs") %>


</body>

<script src="/JS/indexPage.js"></script>

</html>