<header data-header>

    <div class="hamburger-icon" data-nav-toggler>
        <p></p>
        <p></p>
        <p></p>
    </div>

    <a href="#" class="logo">
        <img src="/BackgroundImages/header-chef.png" width="40" height="auto" alt="logo">
        <p>The<span>Garden</span>OfEat'n </p>
    </a>

    <div class="search-icon">

        <i class="fa-solid fa-magnifying-glass" data-search-icon></i>

        <div class="search-dropdown hide" data-search-dropdown>

            <label class="searchbar-wrapper" for="searchbar">
                <input type="text" id="searchbar" name="search" placeholder="Hungry! Order Now" autocomplete="off">

                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </label>

            <div class="search-dropdown-menu hide" data-search-dropdown-menu>

                <% for (let eachCategory of menu ) { %>
                    <a data-each-category href="#<%= eachCategory.content.url %>">
                        <%=eachCategory.category%>
                    </a>

                    <% for (let item of eachCategory.content.items) { %>
                        <a data-category-items class="hide" href="#<%= eachCategory.content.url %>">
                            <%=item%>
                        </a>
                        <%}%>
                            <%}%>

                                <p data-no-item class=" no-item-found-msg hide">
                                    <img src="/BackgroundImages/sad-emoji.png">
                                    Item Not Found!
                                </p>

            </div>

        </div>
    </div>

    <div class="profile-icon" data-profile-icon-dropdown>

        <figure>
            <img src="<% if (user.profileImg ) { %>
                    <%= user.profileImg %>  
                <% } else { %>
                    Icons/username-icon.png 
                    <% } %>" alt="">
        </figure>
    </div>

    <nav class="navbar hide" data-navbar>

        <p><i class="fa-solid fa-hand-point-up"></i>click to see menu</p>

        <ul class="navbar-list">

            <li class="navbar-items">
                <a href="#" class="navbar-link active">
                    <i class="fa-solid fa-house"></i>home
                </a>
            </li>

            <li class="navbar-items">
                <a href="#" class="navbar-link active">
                    <i class="fa-solid fa-chalkboard-user"></i>about us
                </a>
            </li>

            <li class="navbar-items">
                <a href="#" class="navbar-link booking active">
                    <i class="fa-solid fa-utensils"></i>book a table
                </a>
            </li>

            <li class="navbar-items">
                <a href="#" class="navbar-link active">
                    <i class="fa-solid fa-handshake-simple"></i>join us
                </a>
            </li>

            <li class="navbar-items">
                <a href="#" class="navbar-link active">
                    <i class="fa-solid fa-phone"></i>contact
                </a>
            </li>

            <li class="navbar-items profile">
                <a href="#" class="navbar-link active">
                    <i class="fa-solid fa-user"></i>edit profile
                </a>
            </li>

            <li class="navbar-items">
                <a href="#" class="navbar-link active">
                    <i class="fa-solid fa-cart-shopping"></i>cart
                </a>
            </li>

            <li class="navbar-items">
                <a href="#" class="navbar-link active">
                    <i class="fa-solid fa-calendar"></i>your orders
                </a>
            </li>

            <li class="navbar-items">
                <a href="#" class="navbar-link active">
                    <i class="fa-solid fa-gear"></i>settings
                </a>
            </li>

            <li class="navbar-items logout">
                <form action="#" method="post">
                    <button><i class="fa-solid fa-right-from-bracket"></i>logout</button>
                </form>
            </li>

        </ul>

        <div class="text-center">
            <p class="healine-1 visit-us">Visit us</p>

            <address class="body-4">
                Co-operative Society Ltd: No. 2406 <br>
                786, MP Nagar, Bhopal, India-495677
            </address>

            <a href="mailto:thegardenofeat'n@gmail.com" class="email-link"><i
                    class="fa-solid fa-at"></i>Thegardenofeat'n@gmail.com</a>

            <a href="tel:+91 489 636 8989" class="body-1 contact-number"><i class="fa-solid fa-phone"></i>+91
                489 636 8989</a>
        </div>

    </nav>

</header>